{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>PDF Operations</title>
{% endblock title %}
{% block content %}
    <body class="min-h-screen bg-zinc-50 dark:bg-black dark:text-white">
        <header class="bg-slate-100 dark:bg-slate-800 dark:text-white top-0 sticky">
            <section class="max-w-4xl flex mx-auto p-3 px-6 justify-between items-center">
                <h1 class="text-3xl font-roboto font-medium">
                    <a href="#hero">PDF Operations</a>
                </h1>
                <div>
                    <button id="hamburger-button"
                            class="text-3xl sm:hidden cursor-pointer relative w-8 h-8">
                        <div class="bg-black dark:bg-white w-8 h-1 rounded absolute top-4 -mt-0.5 transition-all duration-500 before:content-[''] before:bg-black dark:before:bg-white before:w-8 before:h-1 before:rounded before:absolute before:-translate-x-4 before:-translate-y-3 before:transition-all before:duration-500 after:content-[''] after:bg-black dark:after:bg-white after:w-8 after:h-1 after:rounded after:absolute after:-translate-x-4 after:translate-y-3 after:transition-all after:duration-500">
                        </div>
                    </button>
                    <nav class="hidden sm:block text-xl space-x-4" aria-label="menu">
                        <a href="#tool-description"
                           class="transition hover:duration-300 hover:bg-slate-200 dark:hover:bg-gray-700 p-2 pt-1.5 px-4 rounded-full">Overview</a>
                        <a href="{% url 'about' %}"
                           class="transition hover:duration-300 hover:bg-slate-200 dark:hover:bg-gray-700 p-2 pt-1.5 px-4 rounded-full">About</a>
                    </nav>
                </div>
            </section>
            <section id="mobile-menu"
                     class="absolute bg-slate-100 dark:bg-black w-full h-max text-5xl flex-col justify-center origin-top animate-close-menu hidden">
                <nav class="flex flex-col items-center py-8" aria-label="mobile menu">
                    <a href="#tool-description"
                       class="hover:animate-pulse w-full text-center py-6">Overview</a>
                    <a href="{% url 'about' %}"
                       class="hover:animate-pulse w-full text-center py-6">About</a>
                </nav>
            </section>
            <!-- Fix the links later -->
            <section id="operation-menu"
                     class="absolute top-0 bg-transparent  w-full min-h-screen backdrop-blur-md text-5xl justify-center origin-top hidden">
                <nav class="sticky top-1/3 w-2/3 rounded-lg bg-white dark:bg-slate-800 flex flex-row flex-wrap gap-8 justify-center items-center p-8 mx-auto shadow-lg"
                     aria-label="operation menu">
                    <a href="{% url 'merge-sucess' %}"
                       class="font-semibold text-base bg-slate-100 dark:bg-slate-700 hover:bg-emerald-300 dark:hover:bg-teal-700 transition hover:duration-300 ease-in-out inline-flex items-center rounded-full justify-center p-2 px-6 min-w-fit max-w-fit">Combine</a>
                    <a href="#upload"
                       class="font-semibold text-base bg-slate-100 dark:bg-slate-700 hover:bg-emerald-300 dark:hover:bg-teal-700 transition hover:duration-300 ease-in-out inline-flex items-center rounded-full justify-center p-2 px-6 min-w-fit max-w-fit">Compress</a>
                    <a href="#upload"
                       class="font-semibold text-base bg-slate-100 dark:bg-slate-700 hover:bg-emerald-300 dark:hover:bg-teal-700 transition hover:duration-300 ease-in-out inline-flex items-center rounded-full justify-center p-2 px-6 min-w-fit max-w-fit">Organize</a>
                    <a href="#upload"
                       class="font-semibold text-base bg-slate-100 dark:bg-slate-700 hover:bg-emerald-300 dark:hover:bg-teal-700 transition hover:duration-300 ease-in-out inline-flex items-center rounded-full justify-center p-2 px-6 min-w-fit max-w-fit">Encrypt</a>
                    <a href="#upload"
                       class="font-semibold text-base bg-slate-100 dark:bg-slate-700 hover:bg-emerald-300 dark:hover:bg-teal-700 transition hover:duration-300 ease-in-out inline-flex items-center rounded-full justify-center p-2 px-6 min-w-fit max-w-fit">Watermark</a>
                </nav>
            </section>
        </header>
        <main class="max-w-5xl mx-auto">
            <section id="hero"
                     class="dark:text-white flex flex-col-reverse sm:flex-row justify-center items-center p-8 mt-8 scroll-mt-20">
                <div class="flex flex-col p-8 sm:w-1/2">
                    <h1 class="font-inter text-4xl sm:text-5xl font-bold sm:leading-[1.15]">Customize Your PDF For Free</h1>
                    <p class="mt-2">Merge, rearrange, and customize your PDFs effortlessly with our seamless PDF toolkit.</p>
                    <a id="upload-button"
                       href="#upload"
                       class="font-semibold text-base bg-emerald-200 dark:bg-emerald-900 hover:bg-emerald-300 dark:hover:bg-teal-700 transition hover:duration-300 ease-in-out inline-flex items-center rounded-full justify-center p-2 px-6 min-w-fit max-w-fit mt-4">Start Uploading</a>
                </div>
                <img src="{% static 'img/hero-2772x1965.png' %}"
                     alt="Hero Image"
                     class="min-w-[50%]">
            </section>
            <section id="tool-description" class="p-6 my-12 scroll-mt-20">
                <h2 class="text-3xl font-bold text-center mb-6 text-black dark:text-white">What this tool can do</h2>
                <ul class="list-none mx-auto flex flex-col sm:flex-row flex-wrap justify-center items-center sm:items-start gap-8">
                    <!--Merge File-->
                    <li class="w-2/3 sm:w-2/5 sm:max-w-[18rem] flex flex-col bg-white dark:bg-slate-800 py-6 px-6 rounded-3xl shadow-xl">
                        <img src="{% static 'img/icons/merge-512x512.png' %}"
                             alt="Merge PDF Icon"
                             class="mb-6 w-1/3 sm:w-1/4 self-center sm:place-self-start">
                        <h3 class="text-xl font-semibold text-black dark:text-white">Combine multiple PDFs into one file</h3>
                        <p class="sm:block  mt-2 text-black dark:text-white">
                            Upload your files, arrange into desired order, then merge. Easy as that.
                        </p>
                    </li>
                    <!-- Compress -->
                    <li class="w-2/3 sm:w-2/5 sm:max-w-[18rem] flex flex-col bg-white dark:bg-slate-800 py-6 px-6 rounded-3xl shadow-xl">
                        <img src="{% static 'img/icons/compressed-512x512.png' %}"
                             alt="Merge PDF Icon"
                             class="mb-6 w-1/2 sm:w-1/3 self-center sm:place-self-start">
                        <h3 class="text-xl font-semibold text-black dark:text-white">Compress your PDF</h3>
                        <p class="sm:block  mt-2 text-black dark:text-white">
                            Let you compress from a large PDF file to a smaller size for easier emailing and sharing.
                        </p>
                    </li>
                    <!-- Organize -->
                    <li class="w-2/3 sm:w-2/5 sm:max-w-[18rem] flex flex-col bg-white dark:bg-slate-800 py-6 px-6 rounded-3xl shadow-xl">
                        <img src="{% static 'img/icons/organize-512x512.png' %}"
                             alt="Merge PDF Icon"
                             class="mb-6 w-1/3 sm:w-1/4 self-center sm:place-self-start">
                        <h3 class="text-xl font-semibold text-black dark:text-white">Organize your PDF</h3>
                        <p class="sm:block  mt-2 text-black dark:text-white">
                            You can reorder the pages, change orientation, add, or delete as many pages as you needed.
                        </p>
                    </li>
                    <!-- Encrypt -->
                    <li class="w-2/3 sm:w-2/5 sm:max-w-[18rem] flex flex-col bg-white dark:bg-slate-800 py-6 px-6 rounded-3xl shadow-xl">
                        <img src="{% static 'img/icons/encrypt-512x512.png' %}"
                             alt="Merge PDF Icon"
                             class="mb-6 w-1/3 sm:w-1/4 self-center sm:place-self-start">
                        <h3 class="text-xl font-semibold text-black dark:text-white">Encrypt your PDF</h3>
                        <p class="sm:block  mt-2 text-black dark:text-white">
                            Protect your document’s content by encrypting your PDF, so that only you can open.
                        </p>
                    </li>
                    <!-- Watermark -->
                    <li class="w-2/3 sm:w-2/5 sm:max-w-[18rem] flex flex-col bg-white dark:bg-slate-800 py-6 px-6 rounded-3xl shadow-xl">
                        <img src="{% static 'img/icons/watermark-512x512.png' %}"
                             alt="Merge PDF Icon"
                             class="mb-6 w-1/3 sm:w-1/4 self-center sm:place-self-start">
                        <h3 class="text-xl font-semibold text-black dark:text-white">Add Watermark to your PDF</h3>
                        <p class="sm:block  mt-2 text-black dark:text-white">
                            Allows you to upload a watermark and adds it to every page of your PDF.
                        </p>
                    </li>
                </ul>
            </section>
        </main>
        {% include "footer.html" %}
    </body>
{% endblock content %}
