{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Watermark PDF</title>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.1/Sortable.min.js"></script>
{% endblock title %}
{% block content %}
    <body class="min-h-screen bg-zinc-50 dark:bg-black text-black dark:text-white flex flex-col">
        {% include "operations-header.html" %}
        <main class="max-w-5xl mx-auto">
            <section class="">
                <h2 class="">Upload Files</h2>
                <div class="">
                    <img src="{% static 'img/upload-dark-512x512.png' %}"
                         class="w-1/5"
                         alt="Upload Dark Button">
                    <form method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.source_file }}
                        <label for="upload-input-watermark-source"
                               class="cursor-pointer bg-emerald-200 dark:bg-emerald-900 hover:bg-emerald-300 dark:hover:bg-teal-700 active:text-white dark:active:text-black transition hover:duration-300 ease-in-out p-1 px-4 rounded-lg shadow active:shadow-none">
                            Browse PDF
                        </label>
                        <p>Please upload your PDF file</p>
                        {{ form.watermark }}
                        <label for="upload-input-watermark-mark"
                               class="cursor-pointer bg-emerald-200 dark:bg-emerald-900 hover:bg-emerald-300 dark:hover:bg-teal-700 active:text-white dark:active:text-black transition hover:duration-300 ease-in-out p-1 px-4 rounded-lg shadow active:shadow-none">
                            Browse Watermark
                        </label>
                        <p>Please upload your watermark file</p>
                        <p>PDF, or Images (.PNG, .JPEG) are allowed.</p>
                        {% for error in form.file_field.errors %}<li class="text-red-500">{{ error }}</li>{% endfor %}
                    </form>
                </div>
                <div id="uploaded-watermark-source" class="hidden">
                    <!-- Add file icon -->
                    <p id="watermark-source-filename"></p>
                </div>
                <div id="uploaded-watermark-mark" class="hidden">
                    <!-- Add file icon -->
                    <p id="watermark-mark-filename"></p>
                </div>
                <div id="watermark-button"
                     class="hidden cursor-pointer bg-emerald-200 dark:bg-emerald-900 hover:bg-emerald-300 dark:hover:bg-teal-700 active:text-white dark:active:text-black transition hover:duration-300 ease-in-out mt-4 p-1 px-4 rounded-lg shadow active:shadow-none">
                    Watermark
                </div>
                <div id="error-message" class="hidden text-red-500">
                    <p>Please submit both the source pdf and the watermark files before choosing "Watermark"</p>
                </div>
                <div id="watermark-result" class="hidden flex-col items-center">
                    <hr class="mx-auto bg-black dark:bg-white w-full my-8" />
                    <h2 class="font-inter text-xl sm:text-2xl font-bold mb-2">Result</h2>
                    <div class="flex justify-center items-center gap-4">
                        <img src="{% static 'img/icons/pdf-512x512.png' %}"
                             alt="PDF Icon"
                             class="w-8">
                        <p>result.pdf</p>
                        <a href="{{ MEDIA_URL }}../media/temp/result.pdf" download="result">
                            <span class="bg-emerald-200 dark:bg-emerald-900 hover:bg-emerald-300 dark:hover:bg-teal-700 active:text-white dark:active:text-black transition hover:duration-300 ease-in-out mt-4 p-1 px-4 rounded-lg shadow active:shadow-none">Download</span>
                        </a>
                    </div>
                </div>
            </section>
        </main>
        {% include "footer.html" %}
    </body>
{% endblock content %}
